In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('./exports/diabetes_binary_5050split_BRFSS2019.csv')
df2 = pd.read_csv('./exports/diabetes_binary_5050split_BRFSS2017.csv')

combine = [df1, df2]
  
result = pd.concat(combine)

In [4]:
result.count()

Diabetes_binary         148383
HighBP                  148383
BMI                     148383
Smoker                  148383
Stroke                  148383
HeartDiseaseorAttack    148383
PhysActivity            148383
Fruits                  148383
Veggies                 148383
HvyAlcoholConsump       148383
HighChol                148383
AnyHealthcare           148383
NoDocbcCost             148383
GenHlth                 148383
MentHlth                148383
PhysHlth                148383
DiffWalk                148383
Sex                     148383
Age                     148383
Education               148383
Income                  148383
dtype: int64

In [5]:
result.tail()

,Diabetes_binary,HighBP,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
77737,1.0,0,28.0,0.0,0.0,0.0,0,0,0,0,...,1.0,0.0,4.0,0.0,0.0,0.0,0,10,4.0,2.0
77738,1.0,1,40.0,0.0,0.0,0.0,1,0,0,0,...,1.0,0.0,4.0,0.0,4.0,1.0,0,7,4.0,1.0
77739,1.0,0,32.0,1.0,0.0,0.0,1,0,1,0,...,1.0,0.0,1.0,0.0,0.0,0.0,1,10,5.0,6.0
77740,1.0,1,25.0,1.0,0.0,0.0,0,0,0,0,...,1.0,0.0,4.0,30.0,30.0,0.0,0,12,6.0,5.0
77741,1.0,0,34.0,0.0,0.0,0.0,0,0,0,0,...,1.0,1.0,5.0,0.0,2.0,1.0,1,6,3.0,1.0

In [7]:
# need to reset index as it doesn't tally
result = result.reset_index(drop=True)
result.tail()

,Diabetes_binary,HighBP,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
148378,1.0,0,28.0,0.0,0.0,0.0,0,0,0,0,...,1.0,0.0,4.0,0.0,0.0,0.0,0,10,4.0,2.0
148379,1.0,1,40.0,0.0,0.0,0.0,1,0,0,0,...,1.0,0.0,4.0,0.0,4.0,1.0,0,7,4.0,1.0
148380,1.0,0,32.0,1.0,0.0,0.0,1,0,1,0,...,1.0,0.0,1.0,0.0,0.0,0.0,1,10,5.0,6.0
148381,1.0,1,25.0,1.0,0.0,0.0,0,0,0,0,...,1.0,0.0,4.0,30.0,30.0,0.0,0,12,6.0,5.0
148382,1.0,0,34.0,0.0,0.0,0.0,0,0,0,0,...,1.0,1.0,5.0,0.0,2.0,1.0,1,6,3.0,1.0

In [8]:
result.to_csv('./exports/diabetes_binary_5050split_BRFSS2017and2019.csv', sep=',', index=0)